In [24]:
import pandas as pd

table = pd.read_csv('2017_jun_final.csv')

In [25]:
table.head()

,N,Посада,Мова програмування,Спеціалізація,Загальний досвід роботи,Досвід роботи на поточному місці,Зарплата на місяць,Зміна зарплати за 12 місяців,Місто,Розмір компанії,...,Ще студент,Рівень англійської,Предметна область,Дата заповнення,User.Agent,exp,current_job_exp,salary,Валюта,cls
0,1,Junior QA engineer,NaN,Manual QA,0.5,0.5,400,0,Харків,до 10 осіб,...,True,Pre-intermediate (нище середнього),"iOS,eCommerce",12/06/2017 12:38:08,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,0.5,0.5,400,NaN,QA
1,2,Junior QA engineer,NaN,Manual QA,менше 3 місяців,менше 3 місяців,430,130,Харків,більше 1000 осіб,...,True,Upper-Intermediate (вище середнього),Веб-розробка,12/06/2017 12:42:51,Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...,0.0,0.0,430,NaN,QA
2,3,Software Engineer,C#/.NET,NaN,4,1,2500,800,Київ,до 1000 осіб,...,False,Intermediate (середній),"Веб-розробка,Корпоративні системи",12/06/2017 13:02:47,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,4.0,1.0,2500,NaN,DEV
3,4,Software Engineer,JavaScript,NaN,5,4,2000,400,Одеса,до 200 осіб,...,False,Pre-intermediate (нище середнього),"Desktop Applications,Веб-розробка",12/06/2017 13:03:01,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,5.0,4.0,2000,NaN,DEV
4,5,Senior Software Engineer,JavaScript,NaN,10 і більше років,0.5,4500,500,Інше,до 10 осіб,...,False,Intermediate (середній),"Desktop Applications,Веб-розробка",12/06/2017 13:03:47,Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...,10.0,0.5,4500,NaN,DEV

In [26]:
table.shape

(8704, 25)

In [27]:
table.dtypes

N                                     int64
Посада                               object
Мова програмування                   object
Спеціалізація                        object
Загальний досвід роботи              object
Досвід роботи на поточному місці     object
Зарплата на місяць                    int64
Зміна зарплати за 12 місяців          int64
Місто                                object
Розмір компанії                      object
Тип компанії                         object
Стать                                object
Вік                                   int64
Освіта                               object
Університет                          object
Ще студент                             bool
Рівень англійської                   object
Предметна область                    object
Дата заповнення                      object
User.Agent                           object
exp                                 float64
current_job_exp                     float64
salary                                int64
Валюта                               object
cls                                  object
dtype: object

In [28]:
table.isnull().sum()

N                                      0
Посада                                 0
Мова програмування                  3850
Спеціалізація                       7219
Загальний досвід роботи                0
Досвід роботи на поточному місці       0
Зарплата на місяць                     0
Зміна зарплати за 12 місяців           0
Місто                                  0
Розмір компанії                        0
Тип компанії                           0
Стать                                  0
Вік                                    0
Освіта                                 0
Університет                          358
Ще студент                             0
Рівень англійської                     0
Предметна область                    223
Дата заповнення                        0
User.Agent                             0
exp                                    0
current_job_exp                        0
salary                                 0
Валюта                              8694
cls                                 1574
dtype: int64

In [54]:
nan_columns = table.columns[table.isnull().any()]
non_prog_lang_columns = nan_columns.to_list()
non_prog_lang_columns.remove('Мова програмування')
table.drop(non_prog_lang_columns, axis=1, inplace=True)

In [56]:
table.isnull().sum()

N                                      0
Посада                                 0
Мова програмування                  3850
Загальний досвід роботи                0
Досвід роботи на поточному місці       0
Зарплата на місяць                     0
Зміна зарплати за 12 місяців           0
Місто                                  0
Розмір компанії                        0
Тип компанії                           0
Стать                                  0
Вік                                    0
Освіта                                 0
Ще студент                             0
Рівень англійської                     0
Дата заповнення                        0
User.Agent                             0
exp                                    0
current_job_exp                        0
salary                                 0
dtype: int64

In [74]:
table.dropna(inplace=True)

In [76]:
table.shape

(4854, 20)

In [80]:
python_data = table[table['Мова програмування'] == 'Python']

In [82]:
python_data.shape

(207, 20)

In [134]:
grouped_table_by_posada = table.groupby(by='Посада').apply(lambda x: x)

C:\Users\egork\AppData\Local\Temp\ipykernel_16160\2327351425.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  grouped_table_by_posada = table.groupby(by='Посада').apply(lambda x: x)

In [116]:
grouped_table_by_posada['Зарплата на місяць'].agg(['min', 'max'])

min       75
max    18000
Name: Зарплата на місяць, dtype: int64

In [137]:
def fill_avg_salary(group):
    group['avg'] = group['Зарплата на місяць'].mean()
    return group
grouped_table_by_posada.apply(fill_avg_salary)

                                              N  \
Посада
Data Scientist / Data Analyst 1706  1707.000000
DevOps                        2911  2912.000000
ERP / CRM                     6712  6713.000000
HTML coder                    2049  2050.000000
                              2936  2937.000000
...                                         ...
Technical Lead                8645  8646.000000
                              8652  8653.000000
                              8660  8661.000000
                              8682  8683.000000
avg                                 1883.371034

                                                           Посада  \
Посада
Data Scientist / Data Analyst 1706  Data Scientist / Data Analyst
DevOps                        2911                         DevOps
ERP / CRM                     6712                      ERP / CRM
HTML coder                    2049                     HTML coder
                              2936                     HTML coder
...                                                           ...
Technical Lead                8645                 Technical Lead
                              8652                 Technical Lead
                              8660                 Technical Lead
                              8682                 Technical Lead
avg                                                   1883.371034

                                   Мова програмування Загальний досвід роботи  \
Посада
Data Scientist / Data Analyst 1706               Java                     1.5
DevOps                        2911             Golang                       8
ERP / CRM                     6712                PHP                       2
HTML coder                    2049         JavaScript                       1
                              2936         JavaScript                       1
...                                               ...                     ...
Technical Lead                8645                PHP       10 і більше років
                              8652               Java       10 і більше років
                              8660         JavaScript                       6
                              8682        Objective-C       10 і більше років
avg                                       1883.371034             1883.371034

                                   Досвід роботи на поточному місці  \
Посада
Data Scientist / Data Analyst 1706                  менше 3 місяців
DevOps                        2911                  менше 3 місяців
ERP / CRM                     6712                                1
HTML coder                    2049                              0.5
                              2936                              0.5
...                                                             ...
Technical Lead                8645                                6
                              8652                                5
                              8660                              1.5
                              8682                                3
avg                                                     1883.371034

                                    Зарплата на місяць  \
Посада
Data Scientist / Data Analyst 1706         2700.000000
DevOps                        2911         7000.000000
ERP / CRM                     6712         2000.000000
HTML coder                    2049          400.000000
                              2936          400.000000
...                                                ...
Technical Lead                8645         2950.000000
                              8652         4275.000000
                              8660         4350.000000
                              8682         3200.000000
avg                                        1883.371034

                                    Зміна зарплати за 12 місяців        Місто  \
Посада
Data Scientist / Data Analyst 1706                    300.000000        Львів
DevOps                        2911                   5500.000000         Київ
ERP / CRM                     6712                   1000.000000      Черкаси
HTML coder                    2049                    200.000000        Львів
                              2936                    100.000000        Рівне
...                                                          ...          ...
Technical Lead                8645                    200.000000       Харків
                              8652                      0.000000        Львів
                              8660                    350.000000         Київ
                              8682                      0.000000       Харків
avg                                                  1883.371034  1883.371034

                                     Розмір компанії   Тип компанії  \
Посада
Data Scientist / Data Analyst 1706        до 50 осіб        Стартап
DevOps                        2911       до 200 осіб  Аутсорсингова
ERP / CRM                     6712        до 10 осіб           Інша
HTML coder                    2049        до 50 осіб  Аутсорсингова
                              2936       до 200 осіб  Аутсорсингова
...                                              ...            ...
Technical Lead                8645       до 200 осіб  Аутстафінгова
                              8652  більше 1000 осіб  Аутсорсингова
                              8660  більше 1000 осіб  Аутсорсингова
                              8682      до 1000 осіб  Аутсорсингова
avg                                      1883.371034    1883.371034

                                          Стать          Вік        Освіта  \
Посада
Data Scientist / Data Analyst 1706     чоловіча    35.000000          Вища
DevOps                        2911     чоловіча    29.000000  Неповна Вища
ERP / CRM                     6712     чоловіча    29.000000  Неповна Вища
HTML coder                    2049     чоловіча    24.000000          Вища
                              2936     чоловіча    36.000000          Вища
...                                         ...          ...           ...
Technical Lead                8645     чоловіча    34.000000          Вища
                              8652     чоловіча    37.000000          Вища
                              8660     чоловіча    27.000000          Вища
                              8682     чоловіча    38.000000          Вища
avg                                 1883.371034  1883.371034   1883.371034

                                     Ще студент  \
Посада
Data Scientist / Data Analyst 1706        False
DevOps                        2911        False
ERP / CRM                     6712         True
HTML coder                    2049        False
                              2936        False
...                                         ...
Technical Lead                8645        False
                              8652        False
                              8660        False
                              8682        False
avg                                 1883.371034

                                                      Рівень англійської  \
Посада
Data Scientist / Data Analyst 1706  Upper-Intermediate (вище середнього)
DevOps                        2911               Intermediate (середній)
ERP / CRM                     6712               Intermediate (середній)
HTML coder                    2049    Pre-intermediate (нище середнього)
                              2936               Intermediate (середній)
...                                                                  ...
Technical Lead                8645               Intermediate (середній)
                              8652  Upper-Intermediate (вище середнього)
                              8660               Intermediate (середній)
                              8682    Pre-intermediate (нище середнього)
avg                                                          1883.371034

                                        Дата заповнення  \
Посада
Data Scientist / Data Analyst 1706  12/06/2017 22:47:41
DevOps                        2911  13/06/2017 13:29:21
ERP / CRM                     6712  25/06/2017 14:21:44
HTML coder                    2049  13/06/2017 09:31:53
                              2936  13/06/2017 13:37:55
...                                                 ...
Technical Lead                8645  11/07/2017 21:12:58
                              8652  11/07/2017 22:56:10
                              8660  11/07/2017 23:38:01
                              8682  12/07/2017 11:38:02
avg                                         1883.371034

                                                                           User.Agent  \
Посада
Data Scientist / Data Analyst 1706  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...
DevOps                        2911  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5...
ERP / CRM                     6712  Mozilla/5.0 (Windows NT 6.3; Win64; x64) Apple...
HTML coder                    2049  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
                              2936  Mozilla/5.0 (Linux; Android 5.0.2; Lenovo A601...
...                                                                               ...
Technical Lead                8645  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
                              8652  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
                              8660  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
                              8682  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5...
avg                                                                       1883.371034

                                            exp  current_job_exp       salary
Посада
Data Scientist / Data Analyst 1706     1.500000         0.000000  2700.000000
DevOps                        2911     8.000000         0.000000  7000.000000
ERP / CRM                     6712     2.000000         1.000000  2000.000000
HTML coder                    2049     1.000000         0.500000   400.000000
                              2936     1.000000         0.500000   400.000000
...                                         ...              ...          ...
Technical Lead                8645    10.000000         6.000000  2950.000000
                              8652    10.000000         5.000000  4275.000000
                              8660     6.000000         1.500000  4350.000000
                              8682    10.000000         3.000000  3200.000000
avg                                 1883.371034      1883.371034  1883.371034

[4855 rows x 20 columns]