In [2]:
import pandas as pd

table = pd.read_csv('2017_jun_final.csv')

In [3]:
table.head()

,N,Посада,Мова програмування,Спеціалізація,Загальний досвід роботи,Досвід роботи на поточному місці,Зарплата на місяць,Зміна зарплати за 12 місяців,Місто,Розмір компанії,...,Ще студент,Рівень англійської,Предметна область,Дата заповнення,User.Agent,exp,current_job_exp,salary,Валюта,cls
0,1,Junior QA engineer,NaN,Manual QA,0.5,0.5,400,0,Харків,до 10 осіб,...,True,Pre-intermediate (нище середнього),"iOS,eCommerce",12/06/2017 12:38:08,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,0.5,0.5,400,NaN,QA
1,2,Junior QA engineer,NaN,Manual QA,менше 3 місяців,менше 3 місяців,430,130,Харків,більше 1000 осіб,...,True,Upper-Intermediate (вище середнього),Веб-розробка,12/06/2017 12:42:51,Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...,0.0,0.0,430,NaN,QA
2,3,Software Engineer,C#/.NET,NaN,4,1,2500,800,Київ,до 1000 осіб,...,False,Intermediate (середній),"Веб-розробка,Корпоративні системи",12/06/2017 13:02:47,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,4.0,1.0,2500,NaN,DEV
3,4,Software Engineer,JavaScript,NaN,5,4,2000,400,Одеса,до 200 осіб,...,False,Pre-intermediate (нище середнього),"Desktop Applications,Веб-розробка",12/06/2017 13:03:01,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,5.0,4.0,2000,NaN,DEV
4,5,Senior Software Engineer,JavaScript,NaN,10 і більше років,0.5,4500,500,Інше,до 10 осіб,...,False,Intermediate (середній),"Desktop Applications,Веб-розробка",12/06/2017 13:03:47,Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...,10.0,0.5,4500,NaN,DEV

In [4]:
table.shape

(8704, 25)

In [5]:
table.dtypes

N                                     int64
Посада                               object
Мова програмування                   object
Спеціалізація                        object
Загальний досвід роботи              object
Досвід роботи на поточному місці     object
Зарплата на місяць                    int64
Зміна зарплати за 12 місяців          int64
Місто                                object
Розмір компанії                      object
Тип компанії                         object
Стать                                object
Вік                                   int64
Освіта                               object
Університет                          object
Ще студент                             bool
Рівень англійської                   object
Предметна область                    object
Дата заповнення                      object
User.Agent                           object
exp                                 float64
current_job_exp                     float64
salary                                int64
Валюта                               object
cls                                  object
dtype: object

In [6]:
table.isnull().sum()

N                                      0
Посада                                 0
Мова програмування                  3850
Спеціалізація                       7219
Загальний досвід роботи                0
Досвід роботи на поточному місці       0
Зарплата на місяць                     0
Зміна зарплати за 12 місяців           0
Місто                                  0
Розмір компанії                        0
Тип компанії                           0
Стать                                  0
Вік                                    0
Освіта                                 0
Університет                          358
Ще студент                             0
Рівень англійської                     0
Предметна область                    223
Дата заповнення                        0
User.Agent                             0
exp                                    0
current_job_exp                        0
salary                                 0
Валюта                              8694
cls                                 1574
dtype: int64

In [7]:
nan_columns = table.columns[table.isnull().any()]
non_prog_lang_columns = nan_columns.to_list()
non_prog_lang_columns.remove('Мова програмування')
table.drop(non_prog_lang_columns, axis=1, inplace=True)

In [8]:
table.isnull().sum()

N                                      0
Посада                                 0
Мова програмування                  3850
Загальний досвід роботи                0
Досвід роботи на поточному місці       0
Зарплата на місяць                     0
Зміна зарплати за 12 місяців           0
Місто                                  0
Розмір компанії                        0
Тип компанії                           0
Стать                                  0
Вік                                    0
Освіта                                 0
Ще студент                             0
Рівень англійської                     0
Дата заповнення                        0
User.Agent                             0
exp                                    0
current_job_exp                        0
salary                                 0
dtype: int64

In [9]:
table.dropna(inplace=True)

In [10]:
table.shape

(4854, 20)

In [11]:
python_data = table[table['Мова програмування'] == 'Python']

In [12]:
python_data.shape

(207, 20)

In [13]:
grouped_table_by_posada = table.groupby(by='Посада').apply(lambda x: x)

C:\Users\egork\AppData\Local\Temp\ipykernel_21876\2327351425.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  grouped_table_by_posada = table.groupby(by='Посада').apply(lambda x: x)

In [14]:
grouped_table_by_posada['Зарплата на місяць'].agg(['min', 'max'])

min       75
max    18000
Name: Зарплата на місяць, dtype: int64

In [15]:
def fill_avg_salary(data):
    average = data['Зарплата на місяць'].mean()
    return average


print(fill_avg_salary(grouped_table_by_posada))

1883.371034198599

In [16]:


table['avg'] = table.groupby('Посада').apply(fill_avg_salary).reset_index(level=0, drop=True)
print(table)

avg_an_stat = table['avg'].describe()
print(avg_an_stat)


avg_an_stat.to_csv('updated_data.csv', index=True)

         N                    Посада Мова програмування  \
2        3         Software Engineer            C#/.NET
3        4         Software Engineer         JavaScript
4        5  Senior Software Engineer         JavaScript
6        7  Junior Software Engineer            C#/.NET
7        8  Senior Software Engineer                C++
...    ...                       ...                ...
8692  8693         Software Engineer               Java
8694  8695  Junior Software Engineer            C#/.NET
8695  8696         Software Engineer             Python
8701  8702  Junior Software Engineer         Ruby/Rails
8703  8704  Senior Software Engineer               Java

     Загальний досвід роботи Досвід роботи на поточному місці  \
2                          4                                1
3                          5                                4
4          10 і більше років                              0.5
6                          1                  менше 3 місяців
7                          6                                1
...                      ...                              ...
8692                       5                                1
8694                       1                                1
8695                       1                              0.5
8701                       1                              0.5
8703                       7                                2

      Зарплата на місяць  Зміна зарплати за 12 місяців         Місто  \
2                   2500                           800          Київ
3                   2000                           400         Одеса
4                   4500                           500          Інше
6                    600                           100  Хмельницький
7                   3300                           500          Київ
...                  ...                           ...           ...
8692                3500                           650     Віддалено
8694                 550                           550        Харків
8695                1500                          1000          Київ
8701                 800                           500         Львів
8703                5000                           800         Одеса

     Розмір компанії   Тип компанії  ... Вік             Освіта Ще студент  \
2       до 1000 осіб  Аутсорсингова  ...  26               Вища      False
3        до 200 осіб     Продуктова  ...  30            Середня      False
4         до 10 осіб     Продуктова  ...  30  Технікум / Коледж      False
6         до 50 осіб  Аутсорсингова  ...  23               Вища      False
7         до 10 осіб     Продуктова  ...  28               Вища      False
...              ...            ...  ...  ..                ...        ...
8692     до 200 осіб  Аутсорсингова  ...  28               Вища      False
8694     до 200 осіб  Аутсорсингова  ...  23               Вища      False
8695      до 10 осіб        Стартап  ...  29               Вища      False
8701      до 10 осіб  Аутстафінгова  ...  30       Неповна Вища      False
8703    до 1000 осіб     Продуктова  ...  28               Вища      False

                        Рівень англійської      Дата заповнення  \
2                  Intermediate (середній)  12/06/2017 13:02:47
3       Pre-intermediate (нище середнього)  12/06/2017 13:03:01
4                  Intermediate (середній)  12/06/2017 13:03:47
6       Pre-intermediate (нище середнього)  12/06/2017 13:04:26
7     Upper-Intermediate (вище середнього)  12/06/2017 13:04:27
...                                    ...                  ...
8692               Intermediate (середній)  12/07/2017 13:26:49
8694    Pre-intermediate (нище середнього)  12/07/2017 14:14:33
8695               Intermediate (середній)  12/07/2017 14:39:21
8701  Upper-Intermediate (вище середнього)  12/07/2017 17:32:26
8703  Upper-Intermediate (вище середнього)  12/07/2017 21:28:57

                                             User.Agent   exp  \
2     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   4.0
3     Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   5.0
4     Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...  10.0
6     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   1.0
7     Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:53....   6.0
...                                                 ...   ...
8692  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5...   5.0
8694  Mozilla/5.0 (Windows NT 10.0; WOW64; rv:54.0) ...   1.0
8695  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0
8701  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0
8703  Mozilla/5.0 (iPad; CPU OS 10_3_2 like Mac OS X...   7.0

      current_job_exp  salary          avg
2                 1.0    2500  2000.000000
3                 4.0    2000   457.000000
4                 0.5    4500   605.658594
6                 0.0     600  3243.200926
7                 1.0    3300  1678.630074
...               ...     ...          ...
8692              1.0    3500          NaN
8694              1.0     550          NaN
8695              0.5    1500          NaN
8701              0.5     800          NaN
8703              2.0    5000          NaN

[4854 rows x 21 columns]
count       6.000000
mean     2061.927753
std      1526.367589
min       457.000000
25%       873.901464
50%      1839.315037
75%      2932.400694
max      4387.076923
Name: avg, dtype: float64

C:\Users\egork\AppData\Local\Temp\ipykernel_21876\766276382.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  table['avg'] = table.groupby('Посада').apply(fill_avg_salary).reset_index(level=0, drop=True)